{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <div class="site_content">
    <div class="page_header bg_image bg_overlay" data-bg-image="{% static 'images/bg/1.jpg' %}">
      <div class="container">
        <h2 class="page_title">Career</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">Career</li>
        </ol>
      </div>
    </div>

    <section class="page-blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="blog-page-content blog-content">
              <!-- Start Single Post -->
              <article class="post post-item">
                <div class="post-thumbnail">
                  <a href="#"><img src="images/blog/1.jpg" alt="img" /></a>
                </div>
                <div class="entry-meta">
                  <div class="tag meta-date">
                    <i class="tag-icon fa fa-calendar-o"></i>
                    April 4, 2021
                  </div>
                  <div class="tag meta-author">
                    <i class="tag-icon fa fa-user"></i>
                    Akshay Handge
                  </div>
                  <div class="tag metacomments">
                    <i class="tag-icon fa fa-comments"></i>
                    04 Comments
                  </div>
                  <div class="tag metalikes">
                    <i class="tag-icon fa fa-heart"></i>
                    954 Likes
                  </div>
                </div>
                <div class="entry-content">
                  <h2 class="entry-title">Blog Image Post Simple blog post format..!!</h2>
                  <p>Estibulum vitae fringilla in, rhoncus luctus ante. Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut ttis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. Duis et nibh blat, eifend liberost amet, suscipit enim. Sed rutrum posuere orci.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor lacinia pellentesque. Vivamus et tellus in urna us porttitor. Sed auctor ut nunc in pulvinar. Fusce lacinia, velit vitae pharetra porttitor, nunc libero sollicitin odio, quis iaculis tortor ligula feugiat ex. Nam ut cursus mi. Nullam eu erat in justo euismod ultrices ut id enim. Morbi non tempor ante, eget molestie mauris. Cras gravida, lacus nec sollicitn euismod, ipsum nisl tepor leo, in volutpat sapien ex ac erat. In sit amet dolor ut erat fermentum tincidut. Maecenas sd pque ex.</p>
                  <div class="quote">
                    <div class="quote-text">" The Education of Tomorrow, Rooted in Tradition Invite You Learning Management System"</div>
                    <div class="author">- by Jhon Doe</div>
                  </div>
                  <p>Porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut ttis augue finibus ac. Vivamus elementum enim ac enim ces rhoncus. Duis et nibh blat, eifend liberost amet, suscipit enim. Sed rutrum posuere orci. Lorem ipsum dolor sit amet, conr adipiscing elit. Vivamus auctor lacinia pellentesque. Vivamus et tellus in urna us porttitor. Sed auctor ut nunc in pulvinar. Fusce lacinia, velit vitae pharetra porttitor, nunc libero sollicitudin odio.</p>
                  <div class="image-text wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                    <div class="post-image">
                      <img src="images/others/11.png" alt="" />
                    </div>
                    <div class="text-link">
                      <div class="post-text">Duis et nibh blat, eifend liberost amet, suscipit enim. Sed rutrum suere orci. Lorem ipsum dolor sitt amet. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliet. Aenean sollicitudin, lorem quis bibendum.</div>
                      <div class="links">
                        <div class="link-item">Sollicitudin, lorem quis bibendum auctor, nisi elit consequat</div>
                        <div class="link-item">Sollicitudin, lorem quis bibendum auctor, nisi elit consequat</div>
                        <div class="link-item">Sollicitudin, lorem quis bibendum auctor, nisi elit consequat</div>
                      </div>
                    </div>
                  </div>
                  <div class="image-text wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                    <div class="text-link">
                      <div class="post-text">Duis et nibh blat, eifend liberost amet, suscipit enim. Sed rutrum suere orci. Lorem ipsum dolor sitt amet. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliet. Aenean sollicitudin, lorem quis bibendum.</div>
                      <div class="links">
                        <div class="link-item">Sollicitudin, lorem quis bibendum auctor, nisi elit consequat</div>
                        <div class="link-item">Sollicitudin, lorem quis bibendum auctor, nisi elit consequat</div>
                        <div class="link-item">Sollicitudin, lorem quis bibendum auctor, nisi elit consequat</div>
                      </div>
                    </div>
                    <div class="post-image">
                      <img src="images/others/12.png" alt="" />
                    </div>
                  </div>
                </div>
                <p>Estibulum vitae fringilla in, rhoncus luctus ante. Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut ttis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. Duis et nibh blat, eifend liberost amet, suscipit enim. Sed rutrum posuere orci</p>

                <div class="footer wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                  <div class="tags">
                    <a href="#">family</a> , <a href="#">fun</a>, <a href="#">holiday</a>, <a href="#">island</a>, <a href="#">package</a>
                  </div>
                <div class="social_links">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin-in"></a>
                    <a href="#" class="fab fa-google-plus-g"></a>
                </div>
                </div>
              </article>
              <!-- End Single Post -->

              <div class="about-admin wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                <div class="avatar">
                  <img src="images/avatar/07.png" alt="" />
                </div>
                <div class="admin-info">
                  <div class="title">
                    <div class="admin-name">
                      About Admin : <span class="name">Akshay H.</span>
                    </div>
                    <a href="#" class="link-more">More</a>
                  </div>
                  <div class="text">Porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut ttis augue finibus ac. Vivamus elementum enim ac enim ces rhoncus.</div>
                </div>
              </div>

              <div class="row next-prev-posts">
                <div class="col-lg-6">
                  <a href="#" class="card horizontal card-next-prev wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                    <div class="card-image">
                      <img src="images/hotel-tour/27.png" alt="" />
                    </div>
                    <div class="card-body">
                      <div class="card-title">Unusual Places</div>
                      <div class="date">April 4, 2021</div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6">
                  <a href="#" class="card horizontal card-next-prev wow fadeIn" data-wow-duration="1000ms" data-wow-delay="100ms">
                    <div class="card-body">
                      <div class="card-title">Unusual Places</div>
                      <div class="date">April 4, 2021</div>
                    </div>
                    <div class="card-image">
                      <img src="images/hotel-tour/32.png" alt="" />
                    </div>
                  </a>
                </div>
              </div>

              <div class="sub-section wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                <div class="section-title">Leave a Comments</div>
                <div class="review-form">
                  <input type="text" class="form-control small" placeholder="Name" />
                  <input type="text" class="form-control small" placeholder="Email" />
                  <input type="text" class="form-control" placeholder="Title" />
                  <textarea class="form-control" placeholder="Comments"></textarea>
                  <button class="btn btn-red btn-large">Submit</button>
                </div>
              </div>

              <div class="sub-section leave-comments">
                <div class="section-title">
                  Comments <span class="number">(04)</span>
                </div>
                <div class="comments">
                  <div class="comment-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                    <div class="avatar">
                      <img src="images/avatar/03.png" alt="" />
                    </div>
                    <div class="comment">
                      <div class="comment-info">
                        <div class="name">Liza D'souza</div>
                        <div class="date-time">
                          <span class="time">10:45 AM</span>
                          <span class="date">Nov 25, 2021</span>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                      <div class="comment-text">“Nulla facilisi. Nulla ornare condimentum dui, sit amet condimentum elit rhoncus sit amet. uspendis ctus leo nisi. This is Photoshop's version of Lorem Ipsum.</div>
                    </div>
                  </div>
                  <div class="comment-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                    <div class="avatar">
                      <img src="images/avatar/04.png" alt="" />
                    </div>
                    <div class="comment">
                      <div class="comment-info">
                        <div class="name">Liza D'souza</div>
                        <div class="date-time">
                          <span class="time">10:45 AM</span>
                          <span class="date">Nov 25, 2021</span>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                      <div class="comment-text">“Nulla facilisi. Nulla ornare condimentum dui, sit amet condimentum elit rhoncus sit amet. uspendis ctus leo nisi. This is Photoshop's version of Lorem Ipsum.</div>
                    </div>
                  </div>
                  <div class="comment-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                    <div class="avatar">
                      <img src="images/avatar/05.png" alt="" />
                    </div>
                    <div class="comment">
                      <div class="comment-info">
                        <div class="name">Liza D'souza</div>
                        <div class="date-time">
                          <span class="time">10:45 AM</span>
                          <span class="date">Nov 25, 2021</span>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                      <div class="comment-text">“Nulla facilisi. Nulla ornare condimentum dui, sit amet condimentum elit rhoncus sit amet. uspendis ctus leo nisi. This is Photoshop's version of Lorem Ipsum.</div>
                    </div>
                  </div>
                  <div class="comment-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                    <div class="avatar">
                      <img src="images/avatar/06.png" alt="" />
                    </div>
                    <div class="comment">
                      <div class="comment-info">
                        <div class="name">Liza D'souza</div>
                        <div class="date-time">
                          <span class="time">10:45 AM</span>
                          <span class="date">Nov 25, 2021</span>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                      <div class="comment-text">“Nulla facilisi. Nulla ornare condimentum dui, sit amet condimentum elit rhoncus sit amet. uspendis ctus leo nisi. This is Photoshop's version of Lorem Ipsum.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="sidebar-estate right">
              <div class="sidebar-widget search wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                <h4 class="widget-title">Search</h4>
                <div class="search-form">
                  <input type="text" class="form-control" placeholder="Search Text" />
                </div>
              </div>

              <div class="sidebar-widget categories wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                <h4 class="widget-title">Categories</h4>
                <div class="category-item">
                  <a href="javascript:" class="link-item">Hotel & Tour <span class="number">(214)</span></a>
                  <div class="sublinks">
                    <a href="#" class="link-item sublink">- Properties (20)</a>
                    <a href="#" class="link-item sublink">- Rented (45)</a>
                    <a href="#" class="link-item sublink">- Brokers (10)</a>
                  </div>
                </div>
                <div class="category-item expanded">
                  <a href="javascript:" class="link-item">Real Estates <span class="number">(95)</span></a>
                  <div class="sublinks">
                    <a href="#" class="link-item sublink">- Properties (20)</a>
                    <a href="#" class="link-item sublink">- Rented (45)</a>
                    <a href="#" class="link-item sublink">- Brokers (10)</a>
                  </div>
                </div>
                <div class="category-item">
                  <a href="javascript:" class="link-item">Restaurant <span class="number">(145)</span></a>
                  <div class="sublinks">
                    <a href="#" class="link-item sublink">- Properties (20)</a>
                    <a href="#" class="link-item sublink">- Rented (45)</a>
                    <a href="#" class="link-item sublink">- Brokers (10)</a>
                  </div>
                </div>
                <div class="category-item">
                  <a href="javascript:" class="link-item">Tool / Tips <span class="number">(21)</span></a>
                  <div class="sublinks">
                    <a href="#" class="link-item sublink">- Properties (20)</a>
                    <a href="#" class="link-item sublink">- Rented (45)</a>
                    <a href="#" class="link-item sublink">- Brokers (10)</a>
                  </div>
                </div>
                <div class="category-item">
                  <a href="javascript:" class="link-item">Others <span class="number">(541)</span></a>
                  <div class="sublinks">
                    <a href="#" class="link-item sublink">- Properties (20)</a>
                    <a href="#" class="link-item sublink">- Rented (45)</a>
                    <a href="#" class="link-item sublink">- Brokers (10)</a>
                  </div>
                </div>
              </div>

              <div class="sidebar-widget wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                <h4 class="widget-title">Latest Post</h4>
                <div class="nav filter_tabs">
                  <a href="#latest" class="tab active" data-toggle="tab">Latest</a>
                  <a href="#popular" class="tab" data-toggle="tab">Popular</a>
                </div>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="latest">
                    <div class="post-item">
                      <img src="images/others/01.png" alt="" class="post-image" />
                      <div class="post-info">
                        <a href="#" class="post-title">Image Blog Post Formate</a>
                        <div class="date">Dec 11, 2021</div>
                      </div>
                    </div>
                    <div class="post-item">
                      <img src="images/others/02.png" alt="" class="post-image" />
                      <div class="post-info">
                        <a href="#" class="post-title">It is first post realprop</a>
                        <div class="date">Dec 11, 2021</div>
                      </div>
                    </div>
                    <div class="post-item">
                      <img src="images/others/03.png" alt="" class="post-image" />
                      <div class="post-info">
                        <a href="#" class="post-title">It is second post realprop</a>
                        <div class="date">Dec 11, 2021</div>
                      </div>
                    </div>
                    <div class="post-item">
                      <img src="images/others/04.png" alt="" class="post-image" />
                      <div class="post-info">
                        <a href="#" class="post-title">It is third post realprop</a>
                        <div class="date">Dec 11, 2021</div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="popular">
                    <div class="post-item">
                      <img src="images/others/01.png" alt="" class="post-image" />
                      <div class="post-info">
                        <a href="#" class="post-title">Image Blog Post Formate</a>
                        <div class="date">Dec 11, 2021</div>
                      </div>
                    </div>
                    <div class="post-item">
                      <img src="images/others/02.png" alt="" class="post-image" />
                      <div class="post-info">
                        <a href="#" class="post-title">It is first post realprop</a>
                        <div class="date">Dec 11, 2021</div>
                      </div>
                    </div>
                    <div class="post-item">
                      <img src="images/others/03.png" alt="" class="post-image" />
                      <div class="post-info">
                        <a href="#" class="post-title">It is second post realprop</a>
                        <div class="date">Dec 11, 2021</div>
                      </div>
                    </div>
                    <div class="post-item">
                      <img src="images/others/04.png" alt="" class="post-image" />
                      <div class="post-info">
                        <a href="#" class="post-title">It is third post realprop</a>
                        <div class="date">Dec 11, 2021</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sidebar-widget archives wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                <h4 class="widget-title">Archives</h4>
                <a href="#" class="link-item">January 2021</a>
                <a href="#" class="link-item">February 2021</a>
                <a href="#" class="link-item">March 2021</a>
                <a href="#" class="link-item">April 2021</a>
              </div>
              <div class="sidebar-widget wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
                <h4 class="widget-title">Instagram</h4>
                <div class="instagrams">
                  <a href="#" class="instagram">
                    <img src="images/others/05.png" alt="" />
                    <div class="red-screen">
                      <i class="fa fa-search"></i>
                    </div>
                  </a>
                  <a href="#" class="instagram">
                    <img src="images/others/06.png" alt="" />
                    <div class="red-screen">
                      <i class="fa fa-search"></i>
                    </div>
                  </a>
                  <a href="#" class="instagram">
                    <img src="images/others/07.png" alt="" />
                    <div class="red-screen">
                      <i class="fa fa-search"></i>
                    </div>
                  </a>
                  <a href="#" class="instagram">
                    <img src="images/others/08.png" alt="" />
                    <div class="red-screen">
                      <i class="fa fa-search"></i>
                    </div>
                  </a>
                  <a href="#" class="instagram">
                    <img src="images/others/09.png" alt="" />
                    <div class="red-screen">
                      <i class="fa fa-search"></i>
                    </div>
                  </a>
                  <a href="#" class="instagram">
                    <img src="images/others/10.png" alt="" />
                    <div class="red-screen">
                      <i class="fa fa-search"></i>
                    </div>
                  </a>
                </div>
              </div>
              <a href="#" class="sidebar-widget advertise wow fadeIn" data-wow-duration="1000ms" data-wow-delay=""><img src="images/hotel-tour/40.png" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="related-post">
      <div class="container">
        <div class="section-header side with-links mrb-30 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
          <div class="title float-left">
            <div class="section-titlesed">Related Post</div>
          </div>
          <div class="btn_links float-right">
            <button class="btn btn-prev btn-large"><i class="lp lp-arrow-left"></i></button>
            <button class="mrl-30 btn btn-next btn-large"><i class="lp lp-arrow-right"></i></button>
          </div>
          <div class="w-100 clearfix"></div>
          <!-- /.w-100 -->
        </div>
        <div class="owl-carousel" data-owl-items="3" data-owl-margin="30" data-owl-extranav="1" data-owl-loop="1">
          <div class="card card-post wow fadeIn" data-wow-duration="1000ms" data-wow-delay="">
            <div class="card-image">
              <img src="images/others/13.png" alt="" />
            </div>
            <div class="card-body">
              <div class="post-info">
                <div class="date">April 4, 2021</div>
                <div class="admin">Akshay Handge</div>
              </div>
              <div class="card-title">Blog Image Post.</div>
              <div class="card-text">Sollicitudin, lorem quis bibe u auctor, nisi elit conat ipsu, nec sagittis sem ni id elit. Duis sed odio sit amet.</div>
              <button class="btn btn-red btn-large">Read more</button>
            </div>
          </div>
          <div class="card card-post wow fadeIn" data-wow-duration="1000ms" data-wow-delay="100ms">
            <div class="card-image">
              <img src="images/others/14.png" alt="" />
            </div>
            <div class="card-body">
              <div class="post-info">
                <div class="date">April 4, 2021</div>
                <div class="admin">Akshay Handge</div>
              </div>
              <div class="card-title">Blog Image Post.</div>
              <div class="card-text">Sollicitudin, lorem quis bibe u auctor, nisi elit conat ipsu, nec sagittis sem ni id elit. Duis sed odio sit amet.</div>
              <button class="btn btn-red btn-large">Read more</button>
            </div>
          </div>
          <div class="card card-post wow fadeIn" data-wow-duration="1000ms" data-wow-delay="200ms">
            <div class="card-image">
              <img src="images/others/15.png" alt="" />
            </div>
            <div class="card-body">
              <div class="post-info">
                <div class="date">April 4, 2021</div>
                <div class="admin">Akshay Handge</div>
              </div>
              <div class="card-title">Blog Image Post.</div>
              <div class="card-text">Sollicitudin, lorem quis bibe u auctor, nisi elit conat ipsu, nec sagittis sem ni id elit. Duis sed odio sit amet.</div>
              <button class="btn btn-red btn-large">Read more</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

   {% include "parts/subscribe.html" %}
{% endblock %}
