<li class="transitTion" style='    margin-bottom: 20px'  data-toggle="modal" data-target="#{{employer.id}}">
    <div class="wrapper"> <img class="more-about" src="http://dooreight.com/codepen/people/more_blue.svg">
   
    <img src="{{employer.picture.url}}">
    <h3 class="transition">{{employer.name}} <em style='margin-top:5px;'>{{employer.position}}</em></h3>
    <br>
    <span class="transition">
    <div class="text-wrapper transition">
        <p class='scrolling-text'> {{employer.caption}}</p>
    </div>
    </span> </div>
</li>
<!-- Modal -->
