{% extends 'base.html' %}
        {% load static %}
    
        {% block content %}


        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Vision</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->
        
        <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">   
                <div class="row">
                    <div class="blog-lst col-md-12 pl0">
                        <section class="post">
                            <div class="text-center padding-b-50">
                                <h1  class="wow fadeInLeft animated">Vision</h1>
                                <div  class="title-line wow fadeInRight animated"></div>
                            </div>
                            <br>
                            <h3 class="intro">
                                The world’s leading real estat company which continually enhances its reputable, strong corporate image

                            </h3>
                            <br>
                            
                        </section>  
                    </div>  
                </div>

            </div>
        </div>
{% endblock %}