::-moz-selection {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}

::selection {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}

.video_play_button .icon,
.sidebar-estate .instagram .red-screen {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}

.section_header .section_title:after,
.btn-default:hover,
.card_team_member:hover .card_body,
.btn-red,
.video_play_button .icon:hover,
.dropdown-menu .dropdown-item:hover,
.site_header .header_top .navbar-collapse .social_links a:hover,
.price_range .slider-horizontal .slider-selection,
.search_bar .search_bar_tab .nav-tabs .nav-item .nav-link.active,
.newsletter,
.page_sorting_info .page_sorting_tab .nav-tabs > .nav-item > .nav-link:hover, 
.page_sorting_info .page_sorting_tab .nav-tabs > .nav-item > .nav-link.active,
.sidebar .filter_tabs .tab.active, .advance_search_block .section_title:before {
    background: #ec1c24;
    color: #ffffff !important;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 ) !important;
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.filter_tabs_nav .tab:hover, .filter_tabs_nav .tab.active {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-estate .post-item .post-info .post-title:hover {
    color: #ec1c24;
}

.card_team_member .card_body > p,
.card_team_member .card_image .social_links a:hover,
.entry-meta > span > .fa,
.site_header .header_top .navbar-collapse .navbar_left > li > a > i.fa,
.site_header .header_top .navbar-collapse .signin .text-red,
.site_header .header_top .navbar-collapse .signin .form_signup .btn-default,
.main_slide_area .main_slide_block .slide_block_content .title_script,
.page_header .page_title > span,
.page_header .breadcrumb .breadcrumb-item.active,
.page_header .breadcrumb .breadcrumb-item::before,
.page_header .breadcrumb .breadcrumb-item > a:hover,
.page_sorting_info .right .current-items,
.widget .link-items .link-item:hover,
.widget .link-items .link-item > span {
    color: #ec1c24;
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


.btn-default:hover,
.btn-red,
.site_header .header_top .navbar-collapse .social_links a:hover,
.site_header .header_top .navbar-collapse .signin .form_signup .btn-default,
.site_header .header_top .navbar-collapse .signin .form-control:focus,
.page_sorting_info .page_sorting_tab .nav-tabs > .nav-item > .nav-link:hover, 
.page_sorting_info .page_sorting_tab .nav-tabs > .nav-item > .nav-link.active,
.sidebar .filter_tabs {
    border-image: linear-gradient(#ec1c24,  #ec1c24 );
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.dropdown-menu {
    border-top-color: #ec1c24;
}
.dropdown-menu::before {
    border-bottom-color: #ec1c24;
}

.real_eastate_footer .widget.widget_about .link-items .link-item .fa {
    color: #ec1c24;
}
.real_eastate_footer .widget.widget_contact .link-items .link-item .link-detail p {
	color: #ec1c24;
}
.site_footer #return_to_top {
	background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}
.estate_meta i {
	color: #ec1c24;
}
.section-min-title:after,
.section-max-title:after {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}
.estate_single_area .single-estate-title + .estate_meta:after {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}
.estate_single_area .estate_apartment_amities .amities_lists > li > .icon_thumb {
    color: #ec1c24;
}
.average_estate_rating_wrap .fa-star,
.estate_make_rating .fa-star {
    color: #ec1c24;
}
.estate_single_area .estate_review_lists .review-list .review-metadata .fa-star {
    color: #ec1c24;
}
.widget_estate_agent_contact .contact_title, 
.widget_estate_agent_contact .agent_phone i {
    color: #ec1c24;
}
.estate_sidebara_area .widget .widget_title:before,
.sidebar-estate .widget-title:before,
.sidebar-estate .filter_tabs .tab.active {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}
.sidebar-estate .search .search-form:after,
.entry-meta > div > .fa {
    color: #ec1c24;
}
.sidebar-estate .filter_tabs {
    border-image: linear-gradient(#ec1c24,  #ec1c24 );
}
.sidebar-estate .post-item .post-info .date:before,
.section_header .title_script,
.card-post .post-info > div:before,
.site_content .comment-item .comment-info .rating .fa-star,
.site_content .sub-section.leave-comments .section-title .number {
    color: #ec1c24;
}
.card_contact_info:hover,
.section-titlesed:after,
.site_content .sub-section .section-title:after {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.services_area.services_area_three > .service_items > .service_item:hover .service_icon,
.card_top_review .card_body .location_rating .rating .fa-star {
    color: #ec1c24;
}

.services_area.services_style_two .service_items .service_item:hover {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
     -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/*
.headline:before {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}*/

.btn-prev:hover, 
.btn-next:hover, 
.card-next-prev.horizontal:hover 
.card-body, 
.btn-red:hover {
    background: #ec1c24;
    background:-webkit-linear-gradient( #ec1c24, #ec1c24 );
    background: linear-gradient( #ec1c24, #ec1c24 ) !important;
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.listing_advance_search button:hover {
    color: #ffffff !important;
}
.site_header .header_top .navbar-collapse .nav-item:last-child button:hover {
    color: #ffffff;
}
.site_content .page-blog .blog-content .post-item .image-text .text-link .link-item:before,
.site_content .page-blog .blog-content .footer .tags:before,
.site_content .page-blog .blog-content .about-admin .admin-info .title .admin-name .name,
.card-next-prev.horizontal .date:before, .card_contact_info .info_icon {
    color: #ec1c24;
}
.site_content .page-blog .blog-content .footer .social-links a:hover {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
    border-image: linear-gradient(#ec1c24,  #ec1c24 );
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.estate_single_area .estate_apartment_amities .nav-tabs {
    border-image: linear-gradient(#ec1c24,  #ec1c24 );
}
.estate_single_area .estate_apartment_amities .nav-tabs .nav-item.show .nav-link, 
.estate_single_area .estate_apartment_amities .nav-tabs .nav-link.active {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
    border-image: linear-gradient(#ec1c24,  #ec1c24 );
}

.card_hotel_package .card_image .price:before {
    border-right-color: #ec1c24;
}
.card_hotel_package .card_image .price span {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}
.google-map .card .card_body .rating_review .fa-star {
    color: #ec1c24;
}
.card_tour_package .card_body .card_title:before, 
.card_hotel_package .card_body .card_title:before {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
}

.pagination_area > .pagination > .page-item > .page-link:hover, 
.pagination_area > .pagination > .page-item.active > .page-link {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
    border-image: linear-gradient(#ec1c24,  #ec1c24 );
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-estate .categories .link-item:hover,
.sidebar-estate .categories .link-item:hover:before,
.sidebar-estate .archives .link-item:hover,
.sidebar-estate .archives .link-item:hover:before {
    color: #ec1c24;
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-next-prev.horizontal:hover .card-body {
    background: #ec1c24;
    background:-webkit-linear-gradient(#ec1c24,  #ec1c24 );
    background: linear-gradient(#ec1c24,  #ec1c24 );
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.site_content .listing-website:nth-child(2) .section-title:hover span {
    color: #ec1c24;
}
